<!doctype html>
<html lang="en">
  <head>
    {% render "head", metadata: site.metadata, title: page.title %}
  </head>
  <body>
    {% render "navbar", metadata: site.metadata, page: page %}

    <main class="content">
      {{ content }}
    </main>

    {% render "footer", metadata: site.metadata %}
  </body>
</html>
