:root {
  --background-primary: #3c2aaa;
  --background-secondary: #1d2938;
  --background-secondary-dark: #212c3a;
  --background-tertiary: #d0d5dc;
  --background-tertiary-light: #ffffff;


  --text-primary: #f9fafb;
  --text-primary-darker: #a1a1ab;
  --text-secondary: #101828;

  --link-primary: #c5d1ff;
  --link-secondary: #a1a1ab;
}
