.btn {
  border-radius: 0.5rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  line-height: 1;
  padding: 0.25rem;
  background-color: var(--background-secondary);
  color: var(--text-primary);
}
.btn:hover {
  background-color: var(--background-tertiary);
  color: var(--background-secondary);
}

.btn--disabled {
  color: var(--text-primary-darker);
  cursor: not-allowed;

  &:hover, :focus {
    color: var(--text-primary-darker);
    background-color: var(--background-secondary);
  }
}

.btn--navbar {
  border-radius: 0.25rem;
  font-weight: 700;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: var(--text-primary);
  text-decoration: none;
  border-radius: 0.5rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  line-height: 1;
  background-color: var(--background-secondary);
}
.btn--navbar:hover {
  @mixin shadow;
  background-color: var(--background-secondary-dark);
}
