.calendar-events {
  margin: 0.5rem 0;
  padding-left: 0.75rem;
}

.calendar-events__item {
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  margin-bottom: 0.4rem;
  padding-left: 0.1rem;
}
