.calendar {
  @mixin shadow;
  margin-top: var(--spacing-2);
  margin-bottom: var(--spacing-2);
  padding: var(--spacing-4);
  background-color: var(--background-secondary);
  overflow: hidden;

  @media (--viewport-md) {
    margin-top: var(--spacing-4);
    margin-bottom: var(--spacing-4);
  }
  @media (--viewport-sm) {
    border-radius: 0.5rem;
  }
}

.calendar__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-2);
  padding-top: 0;
}

.calendar__navigation {
  margin: 0;
  list-style: none;
}

.calendar__navigation__item {
  display: inline-block;
  font-size: var(--font-size-6);
  line-height: var(--line-height-6);
}
