.calendar-days {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));

  @media (--viewport-lg) {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
}

@media (--viewport-lg) {
  .calendar-days--title > .calendar-day:nth-child(7n) {
    border-right-width: 0;
  }
}

.calendar-day {
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
  --tw-border-opacity: 1;
  border-color: rgba(17, 24, 39, var(--tw-border-opacity));
  border-right-width: 1px;
  border-bottom-width: 1px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  display: none;

  @media (--viewport-lg) {
    display: block;
  }
}
.calendar-days .calendar-day--with-events {
  display: block;
}

.calendar-day--past {
  --tw-text-opacity: 1;
  color: rgba(161, 161, 170, var(--tw-text-opacity));
  background: #232c39;
}
.calendar-day--past a {
  --tw-text-opacity: 1;
  color: rgba(161, 161, 170, var(--tw-text-opacity));
}
.calendar-day--today {
  --tw-bg-opacity: 1;
  background-color: rgba(55, 65, 81, var(--tw-bg-opacity));
}
.calendar-day--not-in-current-month {
  display: none;

  @media (--viewport-lg) {
    display: block;
  }
}
.calendar-days > .calendar-day {
  border-right-width: 0;

  @media (--viewport-lg) {
    border-right-width: 1px;
  }
}

@media (--viewport-lg) {
  .calendar-day--body {
    min-height: 7rem;
  }
}
.calendar-days > .calendar-day:nth-child(7n) {
  border-right-width: 0;
}
.calendar-days > .calendar-day:nth-last-child(-n + 7) {
  border-bottom-width: 0;
}

.calendar-day__date {
  /*display: inline-flex;*/
  /*height: 1.5rem;*/
  /*line-height: 1;*/
  /*line-height: var(--line-height-1);*/
  /*width: 1.5rem;*/
  /*text-align: center;*/
}
.calendar-day__day_of_week {
  display: inline-block;

  @media (--viewport-lg) {
    display: none;
  }
}
