.card {
  padding: 1rem;
  overflow: hidden;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

  --tw-bg-opacity: 1;
  background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
}
@media (min-width: 768px) {
  .card {
    border-radius: 0.5rem;
  }
}

.card__title {
  margin-top: 0;
}

.card__icon-list {
  padding: 0;
  margin-left: -0.5rem;
}

.card__icon-list__item {
  display: inline-block;
  list-style: none;
  padding-left: 0.5rem;
}

.card__icon {
  /*bg-gray-300 text-gray-900 hover:bg-white p-3 block rounded-full text-2xl*/

  display: block;
      --tw-text-opacity: 1;
    color: rgba(17,24,39,var(--tw-text-opacity));
    padding: .75rem;
        font-size: 1.5rem;
    line-height: 2rem;
    border-radius: 9999px;
        --tw-bg-opacity: 1;
    background-color: rgba(209,213,219,var(--tw-bg-opacity));
}

.card__icon:hover {
  --tw-bg-opacity: 1;
background-color: rgba(255,255,255,var(--tw-bg-opacity));
}
