.card {
  @mixin shadow;
  padding: var(--spacing-4);
  overflow: hidden;
  background-color: var(--background-secondary);

  @media (--viewport-md) {
    border-radius: var(--border-radius-1);
  }
}

.card__title {
  margin-top: 0;
}

.card__icon {
  display: block;
  color: var(--text-secondary);
  padding: var(--spacing-3);
  font-size: var(--font-size-6);
  line-height: var(--line-height-6);
  border-radius: var(--border-radius-full);
  background-color: var(--background-tertiary);

  &:hover {
    background-color: var(--background-tertiary-light);
  }
}
