.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media (--viewport-md) {
  .container {
    max-width: 640px;
  }
}
@media (--viewport-md) {
  .container {
    max-width: 768px;
  }
}
@media (--viewport-lg) {
  .container {
    max-width: 1024px;
  }
}
@media (--viewport-xl) {
  .container {
    max-width: 1280px;
  }
}
