.footer {
  @mixin container;

  padding: var(--spacing-4);
  padding-bottom: var(--spacing-6);
  text-align: center;
  display: grid;

  @media (--viewport-lg) {
    text-align: left;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    .list-inline:last-child {
      margin-left: auto;
    }
  }
}
