.navbar {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 1.5rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));

  @media (--viewport-md) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}


.navbar__brand {
  margin: 0;
}
.navbar__brand a {
  font-size: 1.5rem;
  color: var(--text-primary);
  text-decoration: none;
}

.navbar__brand__icon {
  margin-right: 0.5rem;
}
.navbar__links {
  padding: 0;
  display: none;

  @media (--viewport-md) {
    display: block;
    margin-left: auto;
  }
}
.navbar__links .list-inline {
  margin-top: 0;
  margin-bottom: 0;
}

