body {
  background: var(--background-primary);
  font-family: var(--primary-fonts);
  font-size: var(--font-size-4);
  color: var(--text-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.h1,
h1 {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.h2,
h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.h3,
h3 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.h3 .muted,
h3 .muted {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.h4,
h4 {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
a {
  color: var(--link-primary);
  text-decoration: underline;
}

a:hover, a:focus {
  text-decoration: none;
}
