@define-mixin list-inline {
  list-style: none;
  margin-left: var(--spacing--2);
  margin-right: var(--spacing--2);
  padding: 0;

  > li {
    display: inline-block;
    padding: 0 var(--spacing-2);
  }
}
