<footer class="footer" id="footer" data-turbo-permanent>
  <ul class="list-inline">
    <li>
      <a href="/ical.ical">iCal Feed</a>
    </li>
    <li>
      <a href="https://calendar.google.com/calendar/embed?src=mr2rbi0s3tvlndj19j2ntlk1qreqi1ql%40import.calendar.google.com&ctz=Europe%2FLondon" target="_blank" rel="noopener">Add to Google Calendar</a>
    </li>
  </ul>

  <ul class="list-inline">
    <li>
      Maintained by <a href="https://twitter.com/mikerogers0" target="_blank" rel="noopener">@MikeRogers0</a>
    </li>
  </ul>
</footer>
