<footer class="footer" id="footer" data-turbo-permanent>
  <div class="footer__copyright">
    Maintained by <a href="https://twitter.com/mikerogers0" target="_blank">@MikeRogers0</a>
  </div>
</footer>
