<footer class="footer">
  <div class="footer__copyright">
    Maintained by <a href="https://twitter.com/mikerogers0" target="_blank">@MikeRogers0</a>
  </div>

  <div class="footer_support">
    <a href="https://github.com/MikeRogers0/Ruby-Meetup-Calendar" target="_blank">Contribute via GitHub</a>
  </div>
</footer>
