<nav class="navbar" id="navbar" data-turbo-permanent>
  {% capture page_title %}{{ page.title | strip_html | strip_newlines }}{% endcapture %}
  <h1 class="navbar__brand">
    <a href="/">
      <span class="navbar__brand__icon">💎</span>
      {{ metadata.title | escape }}
    </a>
  </h1>

    <ul class="navbar__links">
      <li>
        <a href="/groups" class="btn btn--navbar">
          All Groups
        </a>
      </li>
      <li>
        <a href="https://github.com/MikeRogers0/Ruby-Meetup-Calendar" target="_blank" rel="noopener" class="btn btn--navbar">
          <i data-feather="plus"></i>
          Add An Event
        </a>
      </li>
    </ul>
</nav>
